/*==============================
=            GLOBAL            =
==============================*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: arial;
	box-sizing: border-box;
}

::selection {
	background-color: #0000;
}

body{
	background-color: #2f4f4f;
}

body::-webkit-scrollbar{
	width: 10px;
	background-color: #101010;
}

body::-webkit-scrollbar-thumb{
	background-color: #656565;
}

.container{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
}

.row{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
	clear: both;
	display: table;
}

[class*="col-"]{
	float: left;
	padding: 10px;
}

/*==============================
=            DIALOG            =
==============================*/

.dialog-open-button{
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 10px;
	padding: 4px;
	line-height: 15px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 60;
	transition: background-color, color .3s ease;
}

.dialog-open-button:hover{
	background-color: #000;
	color: #fff;
}

.dialog-container{
	position: absolute;
	top: 240px;
	left: 0;
	right: 0;
	width: 680px;
	height: 360px;
	background-color: #444;
	margin: 0 auto;
	padding: 16px;
	padding-right: 6px;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 10px;
	outline: none;
	overflow-y: scroll;
}

.dialog-container::-webkit-scrollbar{
	width: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #444;
}

.dialog-container::-webkit-scrollbar-thumb{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #444;
}

.dialog-container__close-button{
	display: inline-block;
	position: absolute;
	top: 16px;
	right: 16px;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.25s ease;
}

.dialog-container__close-button:hover{
	background-color: #ff4d4d;
	color: #fff;
}

.dialog-container__rules-title{
	margin: 6px 0 8px 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dialog-container__rules-subtitle{
	margin: 6px 0;
	color: #0483ff;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: left;
	text-transform: uppercase;
}

.dialog-container__rules-details{
	margin-bottom: 18px;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: justify;
}

.dialog-container__rules-details--punctuation{
	text-align: left;
}

.dialog-container__rules-details--punctuation li{
	margin: 4px 0;
}

.dialog-container__poker-hand{
	color: #87ceeb;
}

.dialog-container__poker-hand-points{
	color: #9acd32;
}

.dialog-container__hand-punctuation{
	color: #51d4ff;
}

.dialog-container__game-version{
	text-align: right;
	font-style: italic;
}

.dialog-game-result{
	position: absolute;
	top: 360px;
	margin: 0 auto;
	padding: 10px;
	border: none;
	border-radius: 20px;
	box-shadow: 2px 4px 15px #222;
	color: white;
	font-size: 80px;
	text-transform: uppercase;
	z-index: 70;
}

/*==============================
=            HEADER            =
==============================*/

.title-container__title{
	position: relative;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 4px #000;
	z-index: 50;
}

/*===============================
=            ARTICLE            =
===============================*/

.section{
	display: flex;
	flex-direction: column;
	gap: 20px;
	float: none;
	margin: 0 auto;
}

.section__buttons-container{
	display: flex;
	justify-content: center;
	gap: 10px;
}

.section__action-button{
	position: relative;
	margin-bottom: 8px;
	background-color: #000;
	padding: 10px 20px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 100;
	transition: background-color .25s ease;
}

.section__action-button:hover{
	background-color: #2c632c;
}

#stay-button, #change-button, #next-hand-button, #play-again-button{
	display: none;
}

.section__cards-group{
	height: 550px;
	width: 680px;
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.section__card-container{
	position: absolute;
	top: 0;
	width: 320px;
	height: 546px;
	background-color: #FFF;
	border-radius: 20px;
	box-shadow: 4px 4px 15px #222;
	cursor: default;
	transition: top .25s ease, outline .25s ease;
}

.section__selected-card{
	top: -16px;
	outline: solid #0d0;
	transition: top .25s ease, outline .25s ease;
}

.section__card-info{
	font-size: 32px;
	transition: none;
	text-align: center;
	letter-spacing: -2px;
	line-height: 32px;
	z-index: 15;
}

.section__card-top-info{
	position: absolute;
	top: 20px;
	left: 20px;
}

.section__card-bottom-info{
	position: absolute;
	bottom: 20px;
	right: 20px;
	transform: rotate(180deg);
}

.section__card{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 384px;
	text-align: center;
}

#card1{
	left: 0;
}

#card2{
	left: 90px;
}

#card3{
	left: 180px;
}

#card4{
	left: 270px;
}

#card5{
	left: 360px;
}

.section--points{
	flex-direction: row;
	justify-content: center;
}

.section__points-title, .section__remaining-cards-title{
	margin-bottom: 4px;
	text-align: center;
}

.section__remaining-cards-details, .section__points-details{
	padding: 8px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.section__points-details{
	position: relative;
	width: 120px;
	margin: 10px auto;
	text-align: center;
	line-height: 20px;
}

.section__current-hand{
	background-color: #51f75182;
	border-radius: 10px;
	color: #001800;
}

.section__hand-point{
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #001800;
}

.section__hand-cards{
	display: none;
	width: 200px;
	text-align-last: justify;
}

.section__points-details--total-points{
	display: flex;
	justify-content: space-around;
	margin: 8px auto 0;
	width: 140px;
	background-color: #fffd;
	border-radius: 10px;
	font-size: 20px;
	color: #006700;
}

.section__remaining-cards-details{
	font-size: 32px;
}