/*=============================
=            CARDS            =
=============================*/

.cards-group {
  display: flex;
  justify-content: center;
  position: relative;
  aspect-ratio: 68 / 54.4;
  width: 680px;
  margin: 0 auto;
}

.card {
  position: absolute;
  top: 0;
  width: 47.05882352%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 15px #222;
  cursor: default;
  transition: top 0.25s ease, outline 0.25s ease;
}

.card[data-suit='H'],
.card[data-suit='D'] {
  color: #f00;
}

.card[data-suit='C'],
.card[data-suit='S'] {
  color: #000;
}

.card--selected {
  top: -16px;
  outline: solid var(--selected-card);
  transition: top 0.25s ease, outline 0.25s ease;
}

.card__info {
  position: absolute;
  font-size: 32px;
  transition: none;
  text-align: center;
  letter-spacing: -2px;
  line-height: 32px;
}

.card__info[data-number]::before {
  content: attr(data-number);
  position: relative;
}

.card__info:not([data-number])::before,
.card__info[data-number='']::before {
  content: '?';
}

.card__info[data-number='10'].card__info[data-suit]::before {
  left: -10px;
}

.card__info[data-number='K'].card__info[data-suit]::before {
  left: -2px;
}

.card__info[data-number='A'].card__info[data-suit]::after {
  left: -4px;
}

.card__info[data-suit]::after {
  content: '';
  display: block;
  position: absolute;
  left: -6px;
  aspect-ratio: 1 / 1;
  width: 30px;
}

.card__info[data-suit='D']::after,
.card[data-suit='D'] .card__suit {
  background-image: var(--diamond-suit-url);
}

.card__info[data-suit='H']::after,
.card[data-suit='H'] .card__suit {
  background-image: var(--heart-suit-url);
}

.card__info[data-suit='S']::after,
.card[data-suit='S'] .card__suit {
  background-image: var(--spade-suit-url);
}

.card__info[data-suit='C']::after,
.card[data-suit='C'] .card__suit {
  background-image: var(--club-suit-url);
}

.card__info--top {
  top: 20px;
  left: 20px;
}

.card__info--bottom {
  bottom: 20px;
  right: 20px;
  transform: rotate(180deg);
}

.card__suit {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}

#card1 {
  left: 0;
}

#card2 {
  left: 13.235294%;
}

#card3 {
  left: 26.470588%;
}

#card4 {
  left: 39.705882%;
}

#card5 {
  left: 52.941176%;
}
