.game-version {
  font-size: 24px;
  margin-bottom: 16px;
}

.game-version-description {
  margin-left: 20px;
  font-size: 18px;
}

.game-version-description ul li {
  margin: 4px 0;
  text-align: justify;
  list-style-type: disc;
}
