/*==============================
=            FOOTER            =
==============================*/

.credits {
  padding: 10px;
}

.credits__author {
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}
