/*==============================
=            HEADER            =
==============================*/

.main-title {
  position: relative;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}
