/*==============================
=            DIALOG            =
==============================*/

.dialog-open-button {
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 30px;
  top: 10px;
  right: 10px;
  line-height: 15px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  z-index: 60;
  transition: background-color, color 0.3s ease;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  @media (max-width: 767px) {
    width: 24px;
    top: 15px;
    right: 15px;
    font-size: 14px;
  }
}

.dialog-rules {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75vw;
  height: 75vh;
  background-color: #333;
  padding: 1rem;
  margin: auto;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #888;
  }

  @media (min-width: 1200px) {
    width: 900px;
  }

  @media (max-width: 1199px) and (min-width: 992px) {
    width: 700px;
  }

  @media (max-width: 767px) {
    font-size: 0.8rem;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    aspect-ratio: 1 / 1;
    width: 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: var(--red-close-btn);
      color: #fff;
    }

    @media (max-width: 767px) {
      width: 24px;
      border-radius: 8px;
    }
  }

  &__title {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__subtitle {
    margin: 6px 0;
    color: var(--rules-subtitle);
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__details {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;

    &--punctuation thead {
      text-decoration: underline;
    }
  }

  &__poker-hand {
    color: var(--poker-hand);
  }

  &__poker-hand-points {
    color: var(--poker-hand-points);
    font-weight: bold;
    text-align: center;
  }

  &__game-version {
    float: right;
    font-style: italic;

    &:hover a {
      text-decoration: underline;
    }

    a:link,
    a:visited {
      color: var(--rules-subtitle);
    }
  }
}

.dialog-game-result {
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 15px #222;
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  z-index: 70;

  &--lose {
    background-color: var(--red-game-over);
  }

  &--win {
    background-color: var(--green-game-over);
  }

  @media (max-width: 767px) {
    font-size: 3rem;
  }
}
