/*==============================
=            DIALOG            =
==============================*/

.dialog-open-button {
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 30px;
  top: 10px;
  right: 10px;
  line-height: 15px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  z-index: 60;
  transition: background-color, color 0.3s ease;
}

.dialog-open-button:hover {
  background-color: #000;
  color: #fff;
}

.dialog-rules {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  height: 75vh;
  background-color: #333;
  padding: 1.5rem;
  margin: auto;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  overflow-y: scroll;
}

.dialog-rules::-webkit-scrollbar {
  width: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dialog-rules::-webkit-scrollbar-thumb {
  border: 2px solid #444;
  border-radius: 10px;
  background-color: #888;
}

.dialog-rules__close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  aspect-ratio: 1 / 1;
  width: 30px;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.25s ease;
}

.dialog-rules__close:hover {
  background-color: var(--red-close-btn);
  color: #fff;
}

.dialog-rules__title {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dialog-rules__subtitle {
  margin: 6px 0;
  color: var(--rules-subtitle);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dialog-rules__details {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
}

.dialog-rules__details--punctuation thead {
  text-decoration: underline;
}

.dialog-rules__poker-hand {
  color: var(--poker-hand);
}

.dialog-rules__poker-hand-points {
  color: var(--poker-hand-points);
  font-weight: bold;
  text-align: center;
}

.dialog-rules__game-version {
  float: right;
  font-style: italic;
}

.dialog-rules__game-version a:link,
.dialog-rules__game-version a:visited {
  color: var(--rules-subtitle);
}

.dialog-rules__game-version:hover a {
  text-decoration: underline;
}

.dialog-game-result {
  top: 360px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 15px #222;
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  z-index: 70;
}

.dialog-game-result--lose {
  background-color: var(--red-game-over);
}

.dialog-game-result--win {
  background-color: var(--green-game-over);
}
