/*=========================================
=            PANTANLLA GENERAL            =
=========================================*/

.col-12 {
  width: 100%;
}

.col-10 {
  width: 83.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-0 {
  display: none;
}

/*==================================================================
=            PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)            =
==================================================================*/

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-0 {
    display: none;
  }

  .dialog-rules {
    width: 900px;
    height: 700px;
  }
}

/*========================================================
=            PANTALLA DE LAPTOP - MEDIUM (md)            =
========================================================*/

@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-0 {
    display: none;
  }

  .dialog-rules {
    width: 700px;
  }
}

/*=======================================================
=            PANTALLA DE TABLET - SMALL (sm)            =
=======================================================*/

@media (max-width: 991px) and (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-0 {
    display: none;
  }
}

/*==================================================================
=            PANTALLA DE SMARTPHONES - EXTRA SMALL (xs)            =
==================================================================*/

@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }

  .col-xs-10 {
    width: 83.33333333%;
  }

  .col-xs-8 {
    width: 66.66666667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-2 {
    width: 16.66666667%;
  }

  .col-xs-0 {
    display: none;
  }

  .dialog-open-button {
    width: 24px;
    top: 15px;
    right: 15px;
    font-size: 14px;
  }

  .dialog-rules {
    padding: 1rem;
    font-size: 0.8rem;
  }

  .dialog-rules__close {
    top: 1rem;
    right: 0.5rem;
    width: 24px;
    border-radius: 8px;
  }

  .dialog-game-result {
    top: 220px;
    font-size: 3rem;
  }

  .buttons__action-button {
    font-size: 14px;
  }

  .main-title {
    font-size: 1.5rem;
  }

  .cards-group {
    width: 90%;
  }

  .card {
    border-radius: 10px;
  }

  .card__info {
    font-size: 20px;
    line-height: 18px;
  }

  .card__info[data-suit]::after {
    width: 20px;
    left: -4px;
    margin-top: 4px;
  }

  .card__info--top {
    top: 10px;
    left: 10px;
  }

  .card__info--bottom {
    bottom: 10px;
    right: 10px;
  }

  .card__figure {
    font-size: 100px;
  }
}
