/*==================================================================
=            PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)            =
==================================================================*/

@media (min-width: 1200px) {
  .dialog-rules {
    width: 900px;
    height: 700px;
  }
}

/*========================================================
=            PANTALLA DE LAPTOP - MEDIUM (md)            =
========================================================*/

@media (max-width: 1199px) and (min-width: 992px) {
  .dialog-rules {
    width: 700px;
  }
}

/*=======================================================
=            PANTALLA DE TABLET - SMALL (sm)            =
=======================================================*/

@media (max-width: 991px) and (min-width: 768px) {
}

/*==================================================================
=            PANTALLA DE SMARTPHONES - EXTRA SMALL (xs)            =
==================================================================*/

@media (max-width: 767px) {
  #btn-theme {
    width: 24px;
    right: 15px;
    background-size: 12px;
  }

  .dialog-open-button {
    width: 24px;
    top: 15px;
    right: 15px;
    font-size: 14px;
  }

  .dialog-rules {
    padding: 1rem;
    font-size: 0.8rem;

    &__close {
      top: 1rem;
      right: 0.5rem;
      width: 24px;
      border-radius: 8px;
    }
  }

  .dialog-game-result {
    top: 220px;
    font-size: 3rem;
  }

  .buttons__action-button {
    font-size: 14px;
  }

  .main-title {
    font-size: 1.5rem;
  }

  .cards-group {
    width: 90%;
  }

  .card {
    border-radius: 10px;

    &__info {
      font-size: 20px;
      line-height: 18px;

      &[data-suit]::after {
      width: 20px;
      left: -4px;
      margin-top: 4px;
      }

      &--top {
        top: 10px;
        left: 10px;
      }

      &--bottom {
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
