#btn-theme {
  --btn-width: 30px;
  position: absolute;
  right: 10px;
  top: 50px;
  aspect-ratio: 1 / 1;
  width: var(--btn-width);
  border-radius: 50%;
  background-image: url("../assets/dark-lightbulb.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(var(--btn-width) - 15px);
  z-index: 50;
  transition: filter 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      filter: invert(100%);
      background-color: #fff;
    }
  }

  @media (max-width: 767px) {
    width: 24px;
    right: 15px;
    background-size: 12px;
  }
}

body.dark-mode #btn-theme {
  background-image: url("../assets/light-lightbulb.svg");
}
